@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

.content{
    text-align: center;
    font-family: "Quicksand", sans-serif; 
    font-weight: 300; 
    text-transform: uppercase;
    padding-top: 5%;
    
}

.cat-box{
    padding-top: 10px;
}

.img{
    width:50%;
    max-width:50px;
    border: 5px solid red;
}

input[type="radio"]{
  margin: 0px 10px 10px 0px;
}
