@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

.content{
    text-align: center;
    font-family: "Quicksand", sans-serif; 
    font-weight: 300; 
    text-transform: uppercase;
    padding-top: 5%;
}

.cat-box{
    padding-top: 10px;
/*    max-width: 300px; 
    max-height: 300px;*/
}
